.sidebar {
    position: absolute;
    transition: 0.5s ease;
    transform:translateX(-100%);

}

#menu-toggle {
    display: none;
    
}

.toggle-button {
    position: relative;

}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 30px;
    left: 20px;
    z-index: 1;
    cursor: pointer;
    background-color: #0f172b;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(227, 226, 226, 0.441);
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: rgb(202, 213, 226);
    border-radius: 50px;
    transition: 0.3s ease;

}

.toggle .top-line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle-line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom-line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#menu-toggle:checked ~ .toggle .top-line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform:rotate(45deg);
}
#menu-toggle:checked ~ .toggle .bottom-line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform:rotate(-45deg);
}

#menu-toggle:checked ~ .toggle .middle-line {
    opacity: 0;
}

#menu-toggle:checked ~ .sidebar {
    transform:translateX(0);
}


#menu-toggle:checked ~ main {
    margin-left: 16rem;
}

#menu-toggle:not(:checked) ~ main {
    margin-left: 0;
}

