.sidebar {
    transition: 0.5s ease;
    width: 4rem;

}

#menu-toggle {
    display: none;
    
}

.toggle-button {
    position: relative;

}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 30px;
    left: 20px;
    z-index: 1;
    cursor: pointer;
    background-color: #0f172b;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(227, 226, 226, 0.441);
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: rgb(202, 213, 226);
    border-radius: 50px;
    transition: 0.3s ease;

}

.toggle .top-line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle-line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom-line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#menu-toggle:checked ~ .toggle .top-line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform:rotate(45deg);
}
#menu-toggle:checked ~ .toggle .bottom-line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform:rotate(-45deg);
}

#menu-toggle:checked ~ .toggle .middle-line {
    opacity: 0;
}

#menu-toggle:checked ~ .sidebar {
    width: 16rem;
}


#menu-toggle:checked ~ main {
    margin-left: 16rem;
}




.sidebar .label {
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: opacity 0.3s ease;

}

#menu-toggle:checked ~ .sidebar .label {
    opacity: 1;
    width: auto;
}


main {
    transition: margin-left 0.5s ease;
    margin-left: 4rem;

}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: all 0.3s ease;
}

#menu-toggle:checked ~ .sidebar .nav-link {
    justify-content: flex-start;
    padding: 1.5rem 2rem;
}

.nav-link.active {
    background-color: #1e3a8a;
}


/* modal */

.modal {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background: rgba(15, 23, 42, 0.25);
    transition: all 0.4s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    padding-top: 80px;
    pointer-events: none;
}

.modal:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    position: relative;
    background-color: #fff;
    width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    max-width: 90%;
    overflow-y: auto;
    padding: 1em 2em;
    border-radius: 8px;
}

.modalclose {
    position: absolute;
    top: 0;
    right: 15px;
    color: #585858;
    font-size: 32px;
}